NODE_ENV=development
HOST=0.0.0.0
PORT=4000
CORS_ORIGINS=http://localhost:3000
GROQ_API_KEY=
GITHUB_API_BASE_URL=https://api.github.com
GITHUB_REPOS_LIMIT=6
FRONTEND_BASE_URL=http://localhost:3000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:4000/api/github/callback
