# Public backend base URL used by the frontend (no trailing slash).
# Local example:
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# Production example:
# NEXT_PUBLIC_API_BASE_URL=https://your-backend-service.onrender.com

# NextAuth GitHub OAuth
GITHUB_ID=Ov23liJ3yU9BG7IzsoMy
GITHUB_SECRET=aee253206a0470beeb555b7d50a04d57a9a54c24
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super_secret_random_string
